%div.profile-wrapper.clearfix
  %div.profile-sidebar
    = gravatar_for @user

    %div.profile-meta
      %h1= @user.name
      
      -if @user.id === current_user.id 
        = link_to "New Image", new_image_path, :class => "btn btn-blue"
        = link_to "New Album", new_album_path, :class => "btn btn-blue"

        %br
        %br

      = @user.name
      is following
      %strong= @user.followed_users.count
      users.<br />

      \#{@user.name} has
      %strong= @user.followers.count
      followers.
      
      \#{render 'follow_form' if user_signed_in?}

  %div.profile-images.clearfix
    - @albums.each do |album|
      %h2.centered= link_to album.title, album_path(album), :class => "discrete-link"
      - if album.images.any?
        - album.images.each do |image|
          = link_to image_tag(image.image.url), image_path(image)
      - else
        %p.centered= "No Pictures Yet"
    - if @orphanImages.any?
      %h2.centered= "Other Pictures"
      - @orphanImages.each do |image|
        = link_to image_tag(image.image.url), image_path(image)
