%div.profile-wrapper.clearfix
  %div.profile-sidebar
    = gravatar_for @user

    %div.profile-meta
      %h1= @user.name

      = @user.name
      is following
      %strong= @user.followed_users.count
      users.<br />

      \#{@user.name} has
      %strong= @user.followers.count
      followers.

  %div.profile-images.clearfix
    \#{render 'follow_form' if user_signed_in?}
    - @images.each do |image|
      = link_to image_tag(image.image.url), image_path(image)
